
@font-face {
  font-family: Montserrat;
  src: url(Fonts/Montserrat-Regular.ttf);
}


body{
	margin-top: 70px;
	font-family: Montserrat;

}

nav{
	text-align: right;
	padding: 10px;
}


#showcase img{
	width: ;
	margin-left: ;
}

#showcase .showcase-right{
	margin-top: 90px;
	font-family: Montserrat;
}

.showcase-right, h1,h4 {
	text-align: center;
}


#showcase-projects, h2, p{
	font-family: Montserrat;
}

.testing{
	text-align: center;
	padding: 10px;
	font-family: Montserrat;
}

.contact{

	text-align: center;
	font-family: Montserrat;
	font-size: 25px;
	padding: 30px;
}

#work{
	background: #e9ff70;
}


.custom-shape-divider-top-1605555881 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1605555881 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 45px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1605555881 .shape-fill {
    fill: #3772ff;
}

.icons {

	margin: 5px;
	padding: 10px;
	text-align: center;
	letter-spacing: 20px;
	margin-bottom: 50px;
}

.symbol {
	color: black;
}

.symbol:hover {
	color: #ffbd00;
}
.me{
	padding: 10px;
}
.contact a{
	font-size: 30px;
	color: black;
}

.contact a:hover{
	color:#ffbd00;
}